stb/
a.out
b.out
Median_filter.pnm
Medianfilter.pnm
             
out_image_c.png
out_image_cpp.pnm
out_rgb_image.pn
backup/
median_francesca
median_francesca.rar
.vscode/
drawing.png
drawing.svg
multiple_dma.svg
ps-pl-comm/PS_PL_communication_on_Yocto_UltraScale_.pdf
ps-pl-comm/ps-pl-communicatio-ultrascale.tar.gz